body {
  text-transform: uppercase;
  text-align: center;
  font-family: cursive;
  background: rgba(224, 151, 143, 0.808);
  
}
div {

  width: 500px;
  height: max-content ;
  color: rgb(95, 15, 95);
  margin: 0 auto;
  border: 1px solid rgb(95, 15, 95);
}

#cabecera {
  display: flex;
  background: rgb(138, 56, 138);
  color: white;
  width: 100%;
  height: 30px;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}