body {
  text-transform: uppercase;
  text-align: center;
  font-family: cursive;
  background: rgba(212, 196, 194, 0.808);
  color: rgb(29, 141, 141);
}
div {

  width: 500px;
  height: content ;
  margin: 0 auto;
  border: 3px solid rgb(180, 30, 180);
}

#cabecera {
  display: flex;
  background: rgb(233, 85, 233);
  color: white;
  width: 100%;
  height: 30px;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 3px;
}
.footer {
  background: rgb(138, 56, 138);
  color: white;
  width: 100%;
  height: 30px;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 3px;
  margin-bottom: 0;
}